*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    max-width:100vw;
}

#titlebox{
    background-image:url(https://www.gujarattourism.com/content/gujrattourism/en/about-gujarat/_jcr_content/root/responsivegrid/pagebanner.coreimg.jpeg/1643369253714/about1.jpeg);
    height:60vh;
    width:100%;
    box-shadow: inset 0px 0px 30px black;
}
#titlebox h1{
    padding-top:20vh;
    text-shadow:0px 0px 10px black;
    color:white;
    padding-left:7vw;
    font-size:3rem;
}

#logo{
    width:4vw;
    position:fixed;
    right:2vw;
    top:3vh;
}

#home{
    text-decoration: none;
    color:black;
    font-size:1.5rem;
    position:fixed;
    top:2vh;
    left:1vw;
    text-shadow:0px 0px 5px white;
}

#main{
    display:flex;
    flex-direction:column;
    width:100%;
}

#content{
    padding:15vh 10vw;
}

#content p{
    font-size:1.2rem;
}

#content h1{
    padding-bottom:3vh;
}

#photos{
    width:100%;
    padding:0 8vw 20vh 8vw;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:4vh;
}

#photos img{
    width:100%;
    height:47vh;
    border-radius:3vh;
}

#footer{
    background-color:#232F3E;
    height:30vh;
    width:100%;
    padding:5vh 8vw;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

#footer3{
    background-color: #131A22;
    height:15vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

#linkedin{
    height:5vh;
}

#linkedina{
    padding-right:2vw;
}

#x{
    height:5vh;
}

#footer3{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:3vw;
}

#footer3 img{
    height:6vh;
}

#footer3 p{
    font-size:1.1rem;
    color:white;
}

#footer2{
    height:40vh;
    width:100%;
    background-color: #232F3E;
    color:#DDDDDD;
    border-top:2px solid #3A4553;
    display:flex;
    padding:4vh 8vw;
    padding-right:30vw;
    justify-content: space-between;
    align-items:center;
    font-family:Arial, Helvetica, sans-serif;
}

#footer2 img{
    height:15vh;
}